
<div local-class="about_page_component_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="about_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="about_page_body_container">
    <Dynamic::Ui::Header 
      @headerName={{this.headerName}}
      @headerTitle={{this.headerTitle}}
      @headerButtonLabel={{this.headerButtonLabel}}
      @headerButtonRoute={{this.contactRoute}}
    />
    <div local-class="about_page_content_container">
    </div>
  </section>
</div>