<div local-class="dashboard_block_container">
  <div local-class="dashboard_block_title_container">
    {{@title}}
  </div>
  <div local-class="dashboard_block_date_container">
    {{@date}}
  </div>
  <div local-class="dashboard_block_description_container">
    {{@description}}
  </div>
  <div local-class="dashboard_block_button_container">
    <LinkTo @route={{@buttonRoute}}>
      <Dynamic::Ui::Buttons::Wide 
        @buttonLabel={{@buttonLabel}} 
      />
    </LinkTo>
  </div>
</div>