<div local-class="header_container">
  <div local-class="header_text_container">
    {{#if @headerNameFirst}}
      {{#if @headerPrimaryRoute}}
      <LinkTo @route={{@headerPrimaryRoute}}>
        <div local-class="header_name_container">
          <div local-class="bold">
              {{@headerNameFirst}}
          </div>
          &nbsp;{{@headerNameLast}}
        </div>
      </LinkTo>
      {{else}}
      <div local-class="header_name_container">
        <div local-class="bold">
          {{@headerNameFirst}}
        </div>
        &nbsp;{{@headerNameLast}}
      </div>
      {{/if}}
    {{/if}}
    {{#if @headerTitle}}
    <div local-class="header_title_container">
      {{@headerTitle}}
    </div>
    {{/if}}
  </div>
    {{#if @headerButtonRoute}}
    <div local-class="header_button_container">
      <LinkTo @route={{@headerButtonRoute}}>
        {{yield}}
      </LinkTo>
    </div>
    {{/if}}
</div>