<div local-class="portfolio_page_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="portfolio_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotTwoUrl={{this.linkedInUrl}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
      />
    </section>
  {{/if}}
  <section local-class="portfolio_page_body_container">
    <div local-class="portfolio_page_header_container">
    {{#if (or (media 'isLarge') (media 'isWide'))}}
      <Dynamic::Ui::Headers::Secondary 
        @headerNameFirst={{this.headerNameFirst}}
        @headerNameLast={{this.headerNameLast}}
        @headerTitle={{this.headerTitle}}
        @headerButtonRoute={{this.contactRoute}}>
          <Dynamic::Ui::Buttons::Wide
            @buttonLabel={{this.headerButtonLabel}} />
      </Dynamic::Ui::Headers::Secondary>
    {{/if}}
    </div>
    <div local-class="portfolio_page_dashboard_row_container first">
      <Dynamic::Ui::DashboardRow
        @projectTitle={{this.projectOneProjectTitle}}
        @projectDescription={{this.projectOneProjectDescription}}
        @blockOneImage={{this.projectOneBlockOneImage}}
        @iconOne={{this.projectOneIconOne}}
        @iconTwo={{this.projectOneIconTwo}}
        @iconThree={{this.projectOneIconThree}}
        @blockTwoLabel={{this.projectOneBlockTwoLabel}}
        @blockThreeTextOne={{this.projectOneBlockThreeTextOne}}
        @blockThreeTextTwo={{this.projectOneBlockThreeTextTwo}}
        @blockThreeTextThree={{this.projectOneBlockThreeTextThree}}
        @blockThreeLabel={{this.projectOneBlockThreeLabel}}  
        @blockFourTextOne={{this.projectOneBlockFourTextOne}}
        @blockFourTextTwo={{this.projectOneBlockFourTextTwo}}
        @blockFourTextThree={{this.projectOneBlockFourTextThree}}
        @blockFourTextFour={{this.projectOneBlockFourTextFour}}
        @blockFourTextFive={{this.projectOneBlockFourTextFive}}
        @blockFourLabel={{this.projectOneBlockFourLabel}}
        @projectGithubUrl={{this.projectOneGithubUrl}}
        @blockFiveText={{this.projectOneBlockFiveText}}
        @blockFiveLabel={{this.projectOneBlockFiveLabel}}
        @blockSixText={{this.projectOneBlockSixText}}
        @blockSixLabel={{this.projectOneBlockSixLabel}}
      />
    </div>
    <div local-class="portfolio_page_dashboard_row_container">
      <Dynamic::Ui::DashboardRow
        @projectTitle={{this.projectTwoProjectTitle}}
        @projectDescription={{this.projectTwoProjectDescription}}
        @blockOneImage={{this.projectTwoBlockOneImage}}
        @iconOne={{this.projectTwoIconOne}}
        @iconTwo={{this.projectTwoIconTwo}}
        @iconThree={{this.projectTwoIconThree}}
        @blockTwoLabel={{this.projectTwoBlockTwoLabel}}
        @blockThreeTextOne={{this.projectTwoBlockThreeTextOne}}
        @blockThreeTextTwo={{this.projectTwoBlockThreeTextTwo}}
        @blockThreeTextThree={{this.projectTwoBlockThreeTextThree}}
        @blockThreeLabel={{this.projectTwoBlockThreeLabel}}  
        @blockFourTextOne={{this.projectTwoBlockFourTextOne}}
        @blockFourTextTwo={{this.projectTwoBlockFourTextTwo}}
        @blockFourTextThree={{this.projectTwoBlockFourTextThree}}
        @blockFourTextFour={{this.projectTwoBlockFourTextFour}}
        @blockFourTextFive={{this.projectTwoBlockFourTextFive}}
        @blockFourLabel={{this.projectTwoBlockFourLabel}}
        @projectGithubUrl={{this.projectTwoGithubUrl}}
        @blockFiveText={{this.projectTwoBlockFiveText}}
        @blockFiveLabel={{this.projectTwoBlockFiveLabel}}
        @blockSixText={{this.projectTwoBlockSixText}}
        @blockSixLabel={{this.projectTwoBlockSixLabel}}
      />
    </div>
    <div local-class="portfolio_page_dashboard_row_container">
      <Dynamic::Ui::DashboardRow
        @projectTitle={{this.projectThreeProjectTitle}}
        @projectDescription={{this.projectThreeProjectDescription}}
        @blockOneImage={{this.projectThreeBlockOneImage}}
        @iconOne={{this.projectThreeIconOne}}
        @iconTwo={{this.projectThreeIconTwo}}
        @iconThree={{this.projectThreeIconThree}}
        @blockTwoLabel={{this.projectThreeBlockTwoLabel}}
        @blockThreeTextOne={{this.projectThreeBlockThreeTextOne}}
        @blockThreeTextTwo={{this.projectThreeBlockThreeTextTwo}}
        @blockThreeTextThree={{this.projectThreeBlockThreeTextThree}}
        @blockThreeLabel={{this.projectThreeBlockThreeLabel}}  
        @blockFourTextOne={{this.projectThreeBlockFourTextOne}}
        @blockFourTextTwo={{this.projectThreeBlockFourTextTwo}}
        @blockFourTextThree={{this.projectThreeBlockFourTextThree}}
        @blockFourTextFour={{this.projectThreeBlockFourTextFour}}
        @blockFourTextFive={{this.projectThreeBlockFourTextFive}}
        @blockFourLabel={{this.projectThreeBlockFourLabel}}
        @projectGithubUrl={{this.projectThreeGithubUrl}}
        @blockFiveText={{this.projectThreeBlockFiveText}}
        @blockFiveLabel={{this.projectThreeBlockFiveLabel}}
        @blockSixText={{this.projectThreeBlockSixText}}
        @blockSixLabel={{this.projectThreeBlockSixLabel}}
      />
    </div>
    <div local-class="portfolio_page_dashboard_row_container">
      <Dynamic::Ui::DashboardRow
        @projectTitle={{this.projectFourProjectTitle}}
        @projectDescription={{this.projectFourProjectDescription}}
        @blockOneImage={{this.projectFourBlockOneImage}}
        @iconOne={{this.projectFourIconOne}}
        @iconTwo={{this.projectFourIconTwo}}
        @iconThree={{this.projectFourIconThree}}
        @blockTwoLabel={{this.projectFourBlockTwoLabel}}
        @blockThreeTextOne={{this.projectFourBlockThreeTextOne}}
        @blockThreeTextTwo={{this.projectFourBlockThreeTextTwo}}
        @blockThreeTextThree={{this.projectFourBlockThreeTextThree}}
        @blockThreeLabel={{this.projectFourBlockThreeLabel}}  
        @blockFourTextOne={{this.projectFourBlockFourTextOne}}
        @blockFourTextTwo={{this.projectFourBlockFourTextTwo}}
        @blockFourTextThree={{this.projectFourBlockFourTextThree}}
        @blockFourTextFour={{this.projectFourBlockFourTextFour}}
        @blockFourTextFive={{this.projectFourBlockFourTextFive}}
        @blockFourLabel={{this.projectFourBlockFourLabel}}
        @projectGithubUrl={{this.projectFourGithubUrl}}
        @blockFiveText={{this.projectFourBlockFiveText}}
        @blockFiveLabel={{this.projectFourBlockFiveLabel}}
        @blockSixText={{this.projectFourBlockSixText}}
        @blockSixLabel={{this.projectFourBlockSixLabel}}
      />
    </div>
    <div local-class="portfolio_page_dashboard_row_container">
      <Dynamic::Ui::DashboardRow
        @projectTitle={{this.projectFiveProjectTitle}}
        @projectDescription={{this.projectFiveProjectDescription}}
        @blockOneImage={{this.projectFiveBlockOneImage}}
        @iconOne={{this.projectFiveIconOne}}
        @iconTwo={{this.projectFiveIconTwo}}
        @iconThree={{this.projectFiveIconThree}}
        @blockTwoLabel={{this.projectFiveBlockTwoLabel}}
        @blockThreeTextOne={{this.projectFiveBlockThreeTextOne}}
        @blockThreeTextTwo={{this.projectFiveBlockThreeTextTwo}}
        @blockThreeTextThree={{this.projectFiveBlockThreeTextThree}}
        @blockThreeLabel={{this.projectFiveBlockThreeLabel}}  
        @blockFourTextOne={{this.projectFiveBlockFourTextOne}}
        @blockFourTextTwo={{this.projectFiveBlockFourTextTwo}}
        @blockFourTextThree={{this.projectFiveBlockFourTextThree}}
        @blockFourTextFour={{this.projectFiveBlockFourTextFour}}
        @blockFourTextFive={{this.projectFiveBlockFourTextFive}}
        @blockFourLabel={{this.projectFiveBlockFourLabel}}
        @projectGithubUrl={{this.projectFiveGithubUrl}}
        @blockFiveText={{this.projectFiveBlockFiveText}}
        @blockFiveLabel={{this.projectFiveBlockFiveLabel}}
        @blockSixText={{this.projectFiveBlockSixText}}
        @blockSixLabel={{this.projectFiveBlockSixLabel}}
      />
    </div>
    <div local-class="portfolio_page_dashboard_row_container">
      <Dynamic::Ui::DashboardRow
        @projectTitle={{this.projectSixProjectTitle}}
        @projectDescription={{this.projectSixProjectDescription}}
        @blockOneImage={{this.projectSixBlockOneImage}}
        @iconOne={{this.projectSixIconOne}}
        @iconTwo={{this.projectSixIconTwo}}
        @iconThree={{this.projectSixIconThree}}
        @blockTwoLabel={{this.projectSixBlockTwoLabel}}
        @blockThreeTextOne={{this.projectSixBlockThreeTextOne}}
        @blockThreeTextTwo={{this.projectSixBlockThreeTextTwo}}
        @blockThreeTextThree={{this.projectSixBlockThreeTextThree}}
        @blockThreeLabel={{this.projectSixBlockThreeLabel}}  
        @blockFourTextOne={{this.projectSixBlockFourTextOne}}
        @blockFourTextTwo={{this.projectSixBlockFourTextTwo}}
        @blockFourTextThree={{this.projectSixBlockFourTextThree}}
        @blockFourTextFour={{this.projectSixBlockFourTextFour}}
        @blockFourTextFive={{this.projectSixBlockFourTextFive}}
        @blockFourLabel={{this.projectSixBlockFourLabel}}
        @projectGithubUrl={{this.projectSixGithubUrl}}
        @blockFiveText={{this.projectSixBlockFiveText}}
        @blockFiveLabel={{this.projectSixBlockFiveLabel}}
        @blockSixText={{this.projectSixBlockSixText}}
        @blockSixLabel={{this.projectSixBlockSixLabel}}
      />
    </div>
  </section>
</div>