
<div local-class="ryan_index_page_component_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="ryan_index_page_side_bar_container">
      <Structural::Ui::Navigation::Desktop
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="ryan_index_page_content_container">
    <Dynamic::Ui::Header 
      @name={{this.headerName}}
      @headerButtonText={{this.headerButtonText}}
      @headerButtonRoute={{this.contactRoute}}
      @headerButtonIcon={{this.headerButtonIcon}}
      @headerButtonIconPrefix={{this.headerButtonIconPrefix}}
      @headerButtonIconSize={{this.headerButtonIconSize}}
    />
    <div local-class="ryan_index_page_section_container grey">
      <Dynamic::Ui::ContentSection>
        I am a Web Developer who loves Ember.js, especially the newest Octane Edition.  I have also recently built several projects in React.js and am beginning a Vue.js project now.  I spend my days diving deeper into things like Flexbox and Grid, JavaScript, backend technologies and more. I have spent 3+ years teaching myself how to code while working on side projects and am now looking for an entry-level position with a great team!       </Dynamic::Ui::ContentSection>
    </div>
  </section>
</div>