<div local-class="article_container">
  <div local-class="article_paragraph">
    {{@paragraphOne}}
  </div>
  <div local-class="article_paragraph">
    {{@paragraphTwo}}
  </div>
  <div local-class="article_image_container">
    <img src="{{@imageOne}}" alt={{@imageAltOne}}>
  </div>
  <div local-class="article_paragraph">
    {{@paragraphThree}}
  </div>
  <div local-class="article_paragraph">
    {{@paragraphFour}}
  </div>
</div>