
<div local-class="ryan_resume_page_component_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="ryan_resume_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="ryan_resume_page_content_container">
    <div local-class="ryan_resume_page_header_container">
      <Dynamic::Ui::Header 
        @headerName={{this.headerName}}
        @headerTitle={{this.headerTitle}}
        @headerButtonLabel={{this.headerButtonLabel}}
        @headerButtonRoute={{this.contactRoute}}
      />
    </div>
    <div local-class="ryan_resume_page_content_section_container">
      <div local-class="ryan_resume_page_content_header">
        Print or Download as PDF
      </div>
      <div local-class="ryan_resume_page_content">
        <div local-class="ryan_resume_page_resume">
          Resume HERE
        </div>
      </div>      
    </div>
  </section>
</div>