<div local-class="portfolio_page_content_row_header first">
  <div local-class="portfolio_page_content_row_header_title">
    {{@projectTitle}}
  </div>
</div>

<div local-class="portfolio_page_content_container_row_container">
  <div local-class="portfolio_page_content_container_row">
    <div local-class="portfolio_page_content_block">
      <div local-class="portfolio_page_content_block_icon_container">
        <div local-class="portfolio_page_content_block_icon">
          <img src="{{@iconOne}}" alt="icon">
        </div>
        <div local-class="portfolio_page_content_block_icon">
          <img src="{{@iconTwo}}" alt="icon">
        </div>
        <div local-class="portfolio_page_content_block_icon">
          <img src="{{@iconThree}}" alt="icon">
        </div>
      </div>
      <div local-class="portfolio_page_content_block_label">
        {{@blockOneLabel}}
      </div>
    </div>
    <div local-class="portfolio_page_content_block">
      <div local-class="portfolio_page_content_block_text">
        {{@blockTwoText}}
      </div>
      <div local-class="portfolio_page_content_block_label">
        {{@blockTwoLabel}}
      </div>
    </div>
    <div local-class="portfolio_page_content_block">
      <div local-class="portfolio_page_content_block_text">
        {{@blockThreeTextOne}} <br />
        {{@blockThreeTextTwo}} <br />
        {{@blockThreeTextThree}} <br />
        {{@blockThreeTextFour}} <br />
        {{@blockThreeTextFive}} <br />
      </div>
      <div local-class="portfolio_page_content_block_label">
        {{@blockThreeLabel}}
      </div>
    </div>
    <div local-class="portfolio_page_content_block">
      <div local-class="portfolio_page_content_block_text">
        {{@blockFourTextOne}} <br />
        {{@blockFourTextTwo}} <br />
        {{@blockFourTextThree}} <br />
        {{@blockFourTextFour}} <br />
        {{@blockFourTextFive}} <br />
      </div>
      <div local-class="portfolio_page_content_block_label">
        {{@blockFourLabel}}
      </div>
    </div>
    <div local-class="portfolio_page_content_block">
      <div local-class="portfolio_page_content_block_icon_container">
        <div local-class="portfolio_page_content_block_icon">
          <img src="{{@iconFour}}" alt="icon">
        </div>
      </div>
      <div local-class="portfolio_page_content_block_label">
        {{@blockFiveLabel}}
      </div>
    </div>
    <div local-class="portfolio_page_content_block">
      <div local-class="portfolio_page_content_block_icon_container">
      <div local-class="portfolio_page_content_block_text">
        {{@blockSixText}}
      </div>
      </div>
      <div local-class="portfolio_page_content_block_label">
        {{@blockSixLabel}}
      </div>
    </div>
  </div>
  <div local-class="arrow">
    >
  </div>
</div>