
<div local-class="contact_page_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="contact_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneUrl={{this.githubUrl}}
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoUrl={{this.linkedInUrl}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="contact_page_body_container">
    <div local-class="contact_page_header_container">
    {{#if (or (media 'isLarge') (media 'isWide'))}}
      <Dynamic::Ui::Headers::Secondary 
        @headerNameFirst={{this.headerNameFirst}}
        @headerNameLast={{this.headerNameLast}}
        @headerTitle={{this.headerTitle}}
        @headerButtonRoute={{this.contactRoute}}>
          <Dynamic::Ui::Buttons::Wide
            @buttonLabel={{this.headerButtonLabel}} />
      </Dynamic::Ui::Headers::Secondary>
    {{/if}}
    </div>
    <div local-class="contact_page_content_container">
      <div local-class="contact_page_content_header">
        Contact
      </div>
      <div local-class="contact_page_content">
        <p>
          ryan@DesignMonster.com
        </p>
        <p>
          I'm looking to join a team in a more-than-junior-but-less-than-senior position working remotely.  I have more knowledge than a junior developer, but less professional experience than a senior level developer.  I'm well organized, focused, a self starter, and most of all, I can code! I know CSS & SCSS, HTML, JS, Rails, SQL, Ember, React, NPM, Yarn-the list goes on and is ALWAYS expanding.  I don't want to list skills.  My biggest strength is that I have successfully learned how to learn.  I have every confidence that whatever stack is put on front of me, I will learn it.  If you would like to see some examples of my work and how I might fit into your needs, please check out the Portfolio section of this site or simply send me an email and ask me some questions.  I look forward to hearing from you.  Thanks for looking!          
        </p>
      </div>      
    </div>
  </section>
</div>