<div local-class="portfolio_page_component_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="portfolio_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="portfolio_page_body_container">
    <Dynamic::Ui::Header 
      @headerName={{this.headerName}}
      @headerTitle={{this.headerTitle}}
      @headerButtonLabel={{this.headerButtonLabel}}
      @headerButtonRoute={{this.contactRoute}}
    />
    <Dynamic::Ui::ContentRow
      @projectTitle={{this.projectTitle}}
      @projectDescription={{this.projectDescription}}
      @blockOneImage={{this.blockOneImage}}
      @iconOne={{this.iconOne}}
      @iconTwo={{this.iconTwo}}
      @iconThree={{this.iconThree}}
      @blockTwoLabel={{this.blockTwoLabel}}
      @blockThreeTextOne={{this.blockThreeTextOne}}
      @blockThreeTextTwo={{this.blockThreeTextTwo}}
      @blockThreeTextThree={{this.blockThreeTextThree}}
      @blockThreeLabel={{this.blockThreeLabel}}  
      @blockFourTextOne={{this.blockFourTextOne}}
      @blockFourTextTwo={{this.blockFourTextTwo}}
      @blockFourTextThree={{this.blockFourTextThree}}
      @blockFourTextFour={{this.blockFourTextFour}}
      @blockFourTextFive={{this.blockFourTextFive}}
      @blockFourLabel={{this.blockFourLabel}}
      @blockFiveText={{this.blockFiveText}}
      @blockFiveLabel={{this.blockFiveLabel}}
      @blockSixText={{this.blockSixText}}
      @blockSixLabel={{this.blockSixLabel}}
    />
  </section>
</div>