<div local-class="portfolio_page_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="portfolio_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
      />
    </section>
  {{/if}}
  <section local-class="portfolio_page_body_container">
    <Dynamic::Ui::Header 
      @headerName={{this.headerName}}
      @headerTitle={{this.headerTitle}}
      @headerButtonLabel={{this.headerButtonLabel}}
      @headerButtonRoute={{this.contactRoute}}
    />
    <Dynamic::Ui::DashboardRow
      @projectTitle={{this.projectOneProjectTitle}}
      @projectDescription={{this.projectOneProjectDescription}}
      @blockOneImage={{this.projectOneBlockOneImage}}
      @iconOne={{this.projectOneIconOne}}
      @iconTwo={{this.projectOneIconTwo}}
      @iconThree={{this.projectOneIconThree}}
      @blockTwoLabel={{this.projectOneBlockTwoLabel}}
      @blockThreeTextOne={{this.projectOneBlockThreeTextOne}}
      @blockThreeTextTwo={{this.projectOneBlockThreeTextTwo}}
      @blockThreeTextThree={{this.projectOneBlockThreeTextThree}}
      @blockThreeLabel={{this.projectOneBlockThreeLabel}}  
      @blockFourTextOne={{this.projectOneBlockFourTextOne}}
      @blockFourTextTwo={{this.projectOneBlockFourTextTwo}}
      @blockFourTextThree={{this.projectOneBlockFourTextThree}}
      @blockFourTextFour={{this.projectOneBlockFourTextFour}}
      @blockFourTextFive={{this.projectOneBlockFourTextFive}}
      @blockFourLabel={{this.projectOneBlockFourLabel}}
      @blockFiveText={{this.projectOneBlockFiveText}}
      @blockFiveLabel={{this.projectOneBlockFiveLabel}}
      @blockSixText={{this.projectOneBlockSixText}}
      @blockSixLabel={{this.projectOneBlockSixLabel}}
    />
  </section>
</div>