
<div local-class="contact_page_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="contact_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotTwoUrl={{this.linkedInUrl}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="contact_page_body_container">
    <div local-class="contact_page_header_container">
    {{#if (or (media 'isLarge') (media 'isWide'))}}
      <Dynamic::Ui::Headers::Secondary 
        @headerNameFirst={{this.headerNameFirst}}
        @headerNameLast={{this.headerNameLast}}
        @headerTitle={{this.headerTitle}}
        @headerButtonRoute={{this.contactRoute}}>
          <Dynamic::Ui::Buttons::Wide
            @buttonLabel={{this.headerButtonLabel}} />
      </Dynamic::Ui::Headers::Secondary>
    {{/if}}
    </div>
    <div local-class="contact_page_content_container">
      <div local-class="contact_page_content_header">
        Contact
      </div>
      <div local-class="contact_page_content">
        <p>
          amina@DesignMonster.com
        </p>
        <p>
          Amina Write Up here          
        </p>
      </div>      
    </div>
  </section>
</div>