
<main local-class="about_page_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="about_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @routeSlotTwoIcon={{this.routeSlotTwoIcon}}
        @routeSlotTwoIconPrefix={{this.routeSlotTwoIconPrefix}}
        @socialSlotOneUrl={{this.githubUrl}}
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoUrl={{this.linkedInUrl}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="about_page_body_container">
    {{#if (or (media 'isLarge') (media 'isWide'))}}
      <div local-class="about_page_header_container">
        <Dynamic::Ui::Header 
          @headerNameFirst={{this.headerNameFirst}}
          @headerNameLast={{this.headerNameLast}}
          @headerTitle={{this.headerTitle}}
          @headerButtonRoute={{this.contactRoute}}
          @sideBarMenu={{this.sideBarMenu}}
          @buttonLabel={{this.headerButtonLabel}} />
      </div>
    {{/if}}
    <div local-class="about_page_content_container">
      {{#if (or (media 'isSmall') (media 'isMedium') (media 'isLarge'))}}
        <div local-class="about_page_content_header">
          Web Developer
        </div>
      {{/if}}
      <div local-class="about_page_content">
        <p>
          Ryan is a Web Developer who loves Ember.js, especially the newest Octane Edition.  If you haven't checked it out because you thought "Eww Ember", he urges you to give it a try.  You'll be glad you did. 
        </p>
        <p>
          Although he loves Ember, he has recently built several projects in React.js and has begun learning Vue.js as well.  He specializes in frontend but is not afraid to dive into backend work and has experience with Rails, SQL, and AWS.  He loves flexbox and grid, scss, and javascript.
        </p>
        <p>
          He has spent the last four years teaching himself how to code and he's built dozens of side projects in that time, some of which are showcased on the Portfolio section of this site. He has earned several of FreeCodeCamp's Certifications and plans on working his way through all of them. He has also completed an internship with a great company called TenLegs (now called Bluespace - find them on LinkedIn!). He is now actively looking for an entry-level position with a great team.
        </p>
        <p>
          He has also been mentoring his brother, Matt, of <a href="https://roderickdevelopers.com">Roderick Developers</a>.  Like Ryan, Matt started in a completely different field but dedicated every free minute to learning how to code.  Ryan has found this experience to be extremely rewarding and he hopes to continue this role in the future.
        </p>      
        <p>
          Ryan works well with others, listens well and takes instruction well, pushes back when needed, says "I don't know" when necessary, and loves to learn. 
        </p>
      </div>       
    </div>
  </section>
</main>