<nav>
  <div local-class="menu_container">
    <div local-class="about_container">
      <div local-class="about_image_container">
        <div local-class="about_image">
          <img src={{@avatarImage}} alt="avatar" loading="eager" />
        </div>
      </div>
    </div>
    <div local-class="navigation_container">
      {{#if @routeSlotOne}}
      <div local-class="nav_item_container">
        <LinkTo @route={{@routeSlotOne}} local-class="nav_link">
          <div local-class="nav_item">
            <div local-class="nav_item_icon">
              <FaIcon @icon="user" @prefix="fas" />
            </div>
            <div local-class="nav_item_text">
              About Me
            </div>
          </div>
        </LinkTo>
      </div>
      {{/if}}
      {{#if @routeSlotTwo}}
      <div local-class="nav_item_container">
        <LinkTo @route={{@routeSlotTwo}} local-class="nav_link">
          <div local-class="nav_item">
            <div local-class="nav_item_icon">
              <FaIcon @icon="code" @prefix="fas" />
            </div>
            <div local-class="nav_item_text">
              Portfolio
            </div>
          </div>
        </LinkTo>
      </div>
      {{/if}}
      {{#if @routeSlotThree}}
      <div local-class="nav_item_container">
        <LinkTo @route={{@routeSlotThree}} local-class="nav_link">
          <div local-class="nav_item">
            <div local-class="nav_item_icon">
              <FaIcon @icon="blog" @prefix="fas" />
            </div>
            <div local-class="nav_item_text">
              Blog
            </div>
          </div>
        </LinkTo>
      </div>
      {{/if}}
      {{#if @routeSlotFour}}
      <div local-class="nav_item_container">
        <LinkTo @route={{@routeSlotFour}} local-class="nav_link">
          <div local-class="nav_item">
            <div local-class="nav_item_icon">
              <FaIcon @icon="envelope-open-text" @prefix="fas" />
            </div>
            <div local-class="nav_item_text">
              Resume
            </div>
          </div>
        </LinkTo>
      </div>
      {{/if}}
    </div>
    <div local-class="about_social_container">
      {{#if @socialSlotOneIcon}}
      <a href="{{@socialSlotOneUrl}}" target="_blank" rel="noopener noreferrer" local-class="nav_link first">
        <div local-class="about_social_icon">
          <FaIcon @icon={{@socialSlotOneIcon}} @prefix={{@socialSlotOnePrefix}} @size={{@socialSlotOneSize}} />
        </div>
      </a>
      {{/if}}
      {{#if @socialSlotTwoIcon}}
      <a href="{{@socialSlotTwoUrl}}" target="_blank" rel="noopener noreferrer" local-class="nav_link">
        <div local-class="about_social_icon">
          <FaIcon @icon={{@socialSlotTwoIcon}} @prefix={{@socialSlotTwoPrefix}} @size={{@socialSlotTwoSize}} />
        </div>
      </a>
      {{/if}}
    </div>
    <div local-class="fine_print_container">
      <div local-class="built_by_container">
        <p>
          designed & built by <LinkTo @route="index">DESIGNMONSTER LLC</LinkTo>
        </p>
      </div>
      <div local-class="copyright_container">
        <FaIcon @icon="copyright" @prefix="far" />
        2020
      </div>
    </div>
  </div>
</nav>

