<div local-class="blog_show_page_component_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="blog_show_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="blog_show_page_body_container">
    <Dynamic::Ui::Header 
      @headerName={{this.headerName}}
      @headerTitle={{this.headerTitle}}
      @headerButtonLabel={{this.headerButtonLabel}}
      @headerButtonRoute={{this.contactRoute}}
    />
    <div local-class="blog_show_page_content_container">
      <Dynamic::Article
        @title={{this.emmTitle}}
        @author={{this.emmAuthor}}
        @url={{this.emmUrl}}
        @creator={{this.emmCreator}}
        @paragraphOne={{this.emmParagraphOne}}
        @paragraphTwo={{this.emmParagraphTwo}}
        @paragraphThree={{this.emmParagraphThree}}
        @paragraphFourTitle={{this.emmParagraphFourTitle}}
        @paragraphFour={{this.emmParagraphFour}}
        @paragraphFourImageOne={{this.paragraphFourImageOne}}
        @paragraphFive={{this.emmParagraphFive}}
        @paragraphSix={{this.emmParagraphSix}}
        @paragraphSeven={{this.emmParagraphSeven}}
        @paragraphSevenCodeBlockOne={{this.emmParagraphSevenCodeBlockOne}}
        @paragraphEightTitle={{this.emmParagraphEightTitle}}
        @paragraphEight={{this.emmParagraphEight}}
        @paragraphNine={{this.emmParagraphNine}}
        @paragraphTen={{this.emmParagraphTen}}
        @paragraphTenCodeBlockOne={{this.emmParagraphTenCodeBlockOne}}
        @paragraphEleven={{this.emmParagraphEleven}}
        @paragraphTwelveTitle={{this.emmParagraphTwelveTitle}}
        @paragraphTwelve={{this.emmParagraphTwelve}}
        @paragraphThirteenTitle={{this.emmParagraphThirteenTitle}}
        @paragraphThirteen={{this.emmParagraphThirteen}}
        @paragraphThirteenCodeBlockOne={{this.emmParagraphThirteenCodeBlockOne}}
        @paragraphFourteen={{this.emmParagraphFourteen}}
        @paragraphFourteenCodeBlockOne={{this.emmParagraphFourteenCodeBlockOne}}
        @paragraphFifteen={{this.emmParagraphFifteen}}
        @paragraphSixteen={{this.emmParagraphSixteen}}
        @paragraphSixteenImageOne={{this.emmParagraphSixteenImageOne}}
        @paragraphSixteenImageTwo={{this.emmParagraphSixteenImageTwo}}
        @paragraphSeventeen={{this.emmParagraphSeventeen}}
        @paragraphSeventeenCodeBlockOne={{this.emmParagraphSeventeenCodeBlockOne}}
        @paragraphEighteen={{this.emmParagraphEighteen}}
        @paragraphEighteenCodeBlockOne={{this.emmParagraphEighteenCodeBlockOne}}
        @paragraphNineteen={{this.emmParagraphNineteen}}
        @paragraphNineteenCodeBlockOne={{this.emmParagraphNineteenCodeBlockOne}}
        @paragraphTwenty={{this.emmParagraphTwenty}}
        @paragraphTwentyOne={{this.emmParagraphTwentyOne}}
        @paragraphTwentyTwo={{this.emmParagraphTwentyTwo}}
        @paragraphTwentyThree={{this.emmParagraphTwentyThree}}
        @paragraphTwentyThreeCodeBlockOne={{this.emmParagraphTwentyThreeCodeBlockOne}}
        @paragraphTwentyFour={{this.emmParagraphTwentyFour}}
        @paragraphTwentyFourCodeBlockOne={{this.emmParagraphTwentyFourCodeBlockOne}}
        @paragraphTwentyFive={{this.emmParagraphTwentyFive}}
        @paragraphTwentySix={{this.emmParagraphTwentySix}}
        />
    </div>
  </section>
</div>
  