
<div local-class="blog_page_container">
  {{#if (or (media 'isLarge') (media 'isWide'))}}
    <section local-class="blog_page_side_bar_container">
      <Dynamic::Ui::Navigation::Desktop
        @socialSlotOneUrl={{this.githubUrl}}
        @socialSlotOneIcon={{this.githubIcon}}
        @socialSlotOnePrefix={{this.githubPrefix}}
        @socialSlotOneSize={{this.githubSize}}
        @socialSlotTwoUrl={{this.linkedInUrl}}
        @socialSlotTwoIcon={{this.linkedinIcon}}
        @socialSlotTwoPrefix={{this.linkedinPrefix}}
        @socialSlotTwoSize={{this.linkedinSize}}
        @avatarImage={{this.avatarImage}}
        @routeSlotOne={{this.aboutMeRoute}}
        @routeSlotTwo={{this.portfolioRoute}}
        @routeSlotThree={{this.blogRoute}}
        @routeSlotFour={{this.resumeRoute}}
        @routeSlotFive={{this.contactRoute}}
        />
    </section>
  {{/if}}
  <section local-class="blog_page_body_container">
    {{#if (or (media 'isLarge') (media 'isWide'))}}
      <div local-class="blog_page_header_container">
        <Dynamic::Ui::Header 
          @headerNameFirst={{this.headerNameFirst}}
          @headerNameLast={{this.headerNameLast}}
          @headerTitle={{this.headerTitle}}
          @headerButtonRoute={{this.contactRoute}}
          @sideBarMenu={{this.sideBarMenu}}
          @buttonLabel={{this.headerButtonLabel}} />
      </div>
    {{/if}}
    <div local-class="blog_page_content_container">
      <div local-class="blog_page_dashboard_block_container">
        <Dynamic::Ui::DashboardBlock
          @title={{this.emmTitle}}
          @date={{this.emmDate}}
          @description={{this.emmDescription}}
          @buttonRoute={{this.emmButtonRoute}}
          @buttonLabel={{this.emmButtonLabel}}
        />
      </div>
      <div local-class="blog_page_dashboard_block_container">
        <Dynamic::Ui::DashboardBlock
          @title={{this.gfbTitle}}
          @date={{this.emmDate}}
          @description={{this.gfbDescription}}
          @buttonRoute={{this.gfbButtonRoute}}
          @buttonLabel={{this.gfbButtonLabel}}
        />
      </div>
    </div>
  </section>
</div>
  